/*GLOBAL STYLES*/
html {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  height: 100%;
  font-family: roboto;
}

.App {
  text-align: center;
}

.todo-wrapper {
  margin: 20px auto 20px auto;
  width: 500px;
  min-height: 500px; /* originally set at 600px */
  border: 5px solid #2980B9;
  padding: 20px;
}
